{% extends "master.html" %}


{% block header %}

{% endblock %}

{% block middle %}

{% endblock %}

{% block middle_second %}

 <div class="container">
    <div class="row middle-margin " >
        <div class="col-lg-3 col-md-2 hidden-sm hidden-xs">
            <div class="row">
                <div class="col-xs-12 name-box panel-body">
                    <div class="text-center"><form action="/search_course" method="get"><input name="searchterm" class="form-control input-sm" placeholder="Hit Enter to Search" type="text"></form></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
            <div class="text-center bottom-border">
                <h2>CURRENT COURSES</h2>
            </div>
            {% for course in courses %}
            <div class="course bottom-border " style="margin-bottom: 10px;padding-bottom: 20px;">
                <div class="row">
                  <div class="col-xs-12 col-md-4 hidden-sm hidden-xs">
                      <img data-src="holder.js/200x200" class="" alt="200x200" src="/media/{{ course.coursepic }}" style="width: 200px; height: 200px;">
                  </div>
                  <div class="col-xs-12 col-xs-offset-2 col-sm-8 col-sm-offset-4 hidden-lg hidden-md">
                        <img data-src="holder.js/200x200" class="" alt="200x200" src="/media/{{ course.coursepic }}" style="width: 200px; height: 200px;">
                  </div>
                  <div class="col-xs-12 col-md-8 col-sm-12">
                      <b><span class="pad-around">{{ course.taughtby.get_full_name }}</span></b>
                      <p><a class="text-primary" href="/course/{{ course.id }}"><h3>{{ course.name }}</h3></a></p>
                      <div class="text-left">
                        <span>{{ course.description }}</span>
                      </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}